body{
  text-decoration: none;
  padding : 0;
  margin : 0;
  ul{
    list-style:none;
    padding: 0;
    margin: 0;
    li{
      text-decoration:none;
      padding: 0;
      margin: 0;
    }
  }
}

header{
  display:flex;
  justify-content: space-between;
  border: 1px solid #d8d8d8;
  .header_title{
    border-right: 1px solid #d8d8d8;
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 63px;
    width: 300px;
    text-align:center;
  }
  .nav{
    font-size: 0.9rem;
    width: auto;
    ul {
      display:flex;
      text-align: center;
      li{
        margin: 0 12px 0 12px;
        line-height: 63px;
      }
    }
  }
  .user-info{
    width:300px;
    border-left: 1px solid #d8d8d8;
    font-size: 0.9rem;
    display:flex;
    justify-content:center ;
    ul{
      display:flex;
      text-align: center;
      li{
        line-height:63px;
        margin: 0 12px 0 12px;
      }
    }
  }
}
